nav {
    position: fixed;
    width: 100%;
    background-color: rgb(55,44,22,.4);
}
.home {
    margin-left: 250px;
}
.about {
    margin-left: 250px;
}
.species {
    margin-left: 250px;
}
.gallery {
    margin-left: 250px;
}
h {
    margin-left: 600px;
    color: red;
    font-size: xx-large;
    background-image: url(http://www.f-covers.com/cover/angry-snake-facebook-cover-timeline-banner-for-fb.jpg);
}
img {
    height: 500px;
    width: 500px;
    float: left;
}
p {
    font-size: xx-large;
}
ul {
    font-size: x-large;
}
